@page
@model BookStore.Pages.AddBookModel
@{
}

<h2>Your cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.cart.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Book.Price</td>
                <td>@(i.Quantity * i.Book.Price)</td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="font-weight-bold">Total:</td>
            <td class="font-weight-bold">@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>