@{
}

@model Book 

@if (Model.Category == "Marriage")
 {
<div class="card card-outline-primary m-2 p-1">

    <div class="p-1 m-2" style="background-color:lightcoral">
        <span class="badge m-1 p-1" style="background-color:white; color:lightcoral">
            Date: @Model.Classification
        </span>

        <h3 class="text-light">@Model.Title</h3>
    </div>

    <h5 class="p-1 m-2">Quote:</h5>
    <p class="p-1 m-2">"@Model.Author"</p>

    <h5 class="p-1 m-2">Thoughts:</h5>
    <p class="p-1 m-2">@Model.Publisher</p>

    <form method="post" asp-page="/admin/books/edit/@Model.BookId">

        <span class="card-text">
            <a type="submit" class="btn btn-sm float-end p-1 m-2" style="background-color:lightcoral; color:white"
               href="/admin/books/details/@Model.BookId">Details</a>
        </span>

    </form>

    @*<ul>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>ISBN: @Model.Isbn</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
            <li>Page Count: @Model.PageCount</li>
        </ul>*@

    @*<form method="post" asp-page="/AddBook">

            <input type="hidden" asp-for="@Model.BookId" />

            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm float-end">Add To Cart</button>
            </span>

        </form>*@
</div>
 }




